{% extends 'layout.html.twig' %}

{% block title %}
    Code Heroes
{% endblock %}

{% block content %}
    <div class="empty-map">

        <h2>Connexion</h2>

        <form action="{{ path('user_login') }}" method="post" class="login-form">

            <p class="success-message">
                {% for success in app.flashes('success') %}
                    {{ success }}
                {% endfor %}
            </p>

            <div>
                <label for="name">Nom</label>
                <input required type="text" id="username" name="_username" placeholder="Nom d'utilisateur" value="{{ last_username }}">
            </div>

            <div>
                <label for="password">Mot de passe</label>
                <input required type="password" id="password" name="_password" placeholder="Mot de passe">
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {% if error %}
                <p class="error-message">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </p>
            {% endif %}

            <div class="buttons">
                <a href="{{ path('main_home') }}" class="bigbutton bigbutton-red bigbutton-small" value="back">
                    Retour
                </a>

                <button class="bigbutton bigbutton-blue bigbutton-small" type="submit">
                    Start !
                </button>
            </div>
        </form>
    </div>
{% endblock %}