{% extends 'layout.html.twig' %}

{% block title %}
    Code Heroes
{% endblock %}

{% block content %}
    <div class="empty-map">
        <h2>Inscription</h2>

        {{ form_start(registrationForm, { attr: { class : 'signup-form'} }) }}
        
            {{ form_row(registrationForm.name) }}

            {{ form_row(registrationForm.password) }}

            <div class="buttons">
                <a href="{{ path('main_home') }}" class="bigbutton bigbutton-red bigbutton-small" value="back">
                    Retour
                </a>

                <button class="bigbutton bigbutton-blue bigbutton-small" type="submit">
                    Entrer
                </button>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
